<div class="login">
    <mat-card>
        <h2 class="center">Login</h2>
        <mat-card-content>
            <form class="login-form">
                <p>
                    <mat-form-field appearance="outline" class="login-form-field">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter your email">
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="outline" class="login-form-field">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Create a password">
                    </mat-form-field>
                </p>

                <button type="submit" mat-raised-button color="primary">Login</button>
            </form>

        </mat-card-content>

        <p class="dont-have">Don't have an account? <a href="#">Create account</a></p>
    </mat-card>
</div>