.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
}

mat-card h2 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0 2rem 0;
}

mat-card .dont-have {
    margin: 2rem 0;
    text-align: center;
}

mat-card mat-card-content button {
    margin-top: 1rem;
    width: 100%;
}

.login-form {
  min-width: 30rem;
  width: 100%;
}

.login-form-field {
  width: 100%;
}
